body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('BG.jpg') center/cover no-repeat;
    height: 100vh;
}

form {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px;
    width: 300px;
    max-width: 100%;
    text-align: center;
}

h1 {
    color: #e0dddda4;
}

label {
    text-align:left;
    color: aliceblue;
    display: block;
    margin-bottom: 8px;
}

input {
    font-weight:bold;
    color: aliceblue;
    width: 100%;
    padding: 8px;
    background: #ffffff38;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: .3px solid #cccccc00;
    border-radius: 4px;
}

button {
    background-color: #98999800;
    color: #fff;
    padding: 10px;
    border: 1px solid #ffffff00;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #77767600;
    border: .3px solid #ffffffd6;
}
